body {
  background-color: #000;
}
/* HEADER */
.header {
  background-color: #a9a9a9;
  color: #fff;
  display: flex;
}

/* SIDE BAR */

/* CONTENT */

/* FOOTER */

/* FORMS */

/* GENERAL GUBBINS */
